<div id="header" class="jumbotron jumbotron-fluid bg-light text-white animated fadeIn slow">
  <div class="container">

      <div class="row">

          <div class="col-lg-6 mt-4 text-lg-left text-center">

              <!-- <h1 class="display-4" style="font-weight: 800;">Bit x Bit</h1> -->
              <p class="display-4 mt-4 pt-4">Diseño de <br> aplicaciones WEB</p>
              <p class="h3 font-italic mt-4" style="opacity: 0.9;">Te ayudamos a implementar tus ideas paso a paso.</p>
      
              <!-- <h2 class="title">Tus ideas convertidas <br>en <span class="typed"></span> </h2> -->
          </div>

          <div class="col-lg-6 mt-4 jumbotron-row-img" >
                  
                  <img class="jumbotron-img" src="./assets/img/undraw_web_devices_ad58.svg" alt="" height="300">
             
          </div>
      </div>



  </div>
</div>