<br id="paquete" inViewport [inViewportOptions]="{ threshold: 1 }" (inViewportAction)="_menu.setActive(2, $event)">
<br>
<br>
<h1 class="display-4 text-main text-center mt-5">Nuestros paquetes</h1>

<div class="container-fluid">
    <div class="container py-5">
        <div class="row">


            <div class="col-lg-4 py-3">
                <div class="card  text-center bg-light">
                    <div class="card-body">
                        <div class="py-3">
                            <span class="h1">$</span><span class="display-3 align-middle">7000</span>
                        </div>
                        <hr>
                        <p class="h2">Landing page</p>
                        <hr>
                        <p class="card-text"> Posicionamiento</p>
                        <hr>
                        <p class="card-text"> Sencillo y eficaz</p>
                        <hr>
                        <p class="card-text"> Atractivo</p>
                        <hr>
                        <p class="card-text"> Redes sociales</p>

                    </div>
                    <a (click)="paquete1()" class="card-footer btn bg-main text-white">Contratar</a>
                </div>
            </div>



            <div class="col-lg-4 py-3">
                <div class="card  text-center bg-light">
                    <div class="card-body">
                        <div class="py-3">
                            <span class="h1">$</span><span class="display-3 align-middle">10000</span>
                        </div>
                        <hr>
                        <p class="h2">Personal web</p>
                        <hr>
                        <p class="card-text"> Navegación Veloz</p>
                        <hr>
                        <p class="card-text"> Adaptable</p>
                        <hr>
                        <p class="card-text"> Intuitivo</p>
                        <hr>
                        <p class="card-text"> Moderno</p>

                    </div>
                    <a (click)="paquete2()" class="card-footer btn bg-main text-white">Contratar</a>
                </div>
            </div>


            <div class="col-lg-4 py-3">
                <div class="card  text-center bg-light">
                    <div class="card-body">
                        <div class="py-3">
                            <span class="h1">$</span><span class="display-3 align-middle">16000</span>
                        </div>
                        <hr>
                        <p class="h2">eCommerce</p>
                        <hr>
                        <p class="card-text"> Fácil de usar</p>
                        <hr>
                        <p class="card-text"> Buscador</p>
                        <hr>
                        <p class="card-text"> Seguridad</p>
                        <hr>
                        <p class="card-text"> Destacados</p>

                    </div>
                    <a (click)="paquete3()" class="card-footer btn bg-main text-white">Contratar</a>
                </div>
            </div>





        </div>
    </div>
</div>