<h1 class="display-4 text-main text-center mt-5">Nuestros paquetes</h1>

<div class="container-fluid" id="paquete">
    <div class="container py-5">
        <div class="row">


            <div class="col-lg-4 py-3">
                <div id="paquete" class="card  border-primary text-center bg-light">
                    <div class="card-body">
                        <div class="py-3">
                            <span class="h1">$</span><span class="display-1 align-middle">7000</span>
                        </div>
                        <hr>
                        <p class="h1">Landing page</p>
                        <hr>
                        <p class="card-text"><i class="fas fa-check text-primary"></i> Beneficio 1</p>
                        <hr>
                        <p class="card-text"><i class="fas fa-check text-primary"></i> Beneficio 2</p>
                        <hr>
                        <p class="card-text"><i class="fas fa-check text-primary"></i> Beneficio 3</p>
                        <hr>
                        <p class="card-text"><i class="fas fa-check text-primary"></i> Beneficio 4</p>

                    </div>
                    <a (click)="paquete1()" class="card-footer btn bg-main text-white">Contratar</a>
                </div>
            </div>



            <div class="col-lg-4 py-3">
                <div class="card  border-primary text-center bg-light">
                    <div class="card-body">
                        <div class="py-3">
                            <span class="h1">$</span><span class="display-1 align-middle">10000</span>
                        </div>
                        <hr>
                        <p class="h1">Pagina web</p>
                        <hr>
                        <p class="card-text"><i class="fas fa-check text-primary"></i> Beneficio 1</p>
                        <hr>
                        <p class="card-text"><i class="fas fa-check text-primary"></i> Beneficio 2</p>
                        <hr>
                        <p class="card-text"><i class="fas fa-check text-primary"></i> Beneficio 3</p>
                        <hr>
                        <p class="card-text"><i class="fas fa-check text-primary"></i> Beneficio 4</p>

                    </div>
                    <a (click)="paquete2()" class="card-footer btn bg-main text-white">Contratar</a>
                </div>
            </div>


            <div class="col-lg-4 py-3">
                <div class="card  border-primary text-center bg-light">
                    <div class="card-body">
                        <div class="py-3">
                            <span class="h1">$</span><span class="display-1 align-middle">16000</span>
                        </div>
                        <hr>
                        <p class="h1">Página eCommerce</p>
                        <hr>
                        <p class="card-text"><i class="fas fa-check text-primary"></i> Beneficio 1</p>
                        <hr>
                        <p class="card-text"><i class="fas fa-check text-primary"></i> Beneficio 2</p>
                        <hr>
                        <p class="card-text"><i class="fas fa-check text-primary"></i> Beneficio 3</p>
                        <hr>
                        <p class="card-text"><i class="fas fa-check text-primary"></i> Beneficio 4</p>

                    </div>
                    <a (click)="paquete3()" class="card-footer btn bg-main text-white">Contratar</a>
                </div>
            </div>





        </div>
    </div>
</div>