<div class="container-fluid bg-light">
    <div class="container py-5">
        <div class="row">
            <!-- Precios1-->
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="py-3">
                                <span class="h1">$</span><span class="display-1 align-middle">100</span>
                            </div>
                        </div>
                        <p class="h1">Básico</p>
                        <h5 class="card-title py-2"><b>Lorem Ipsum.</b></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nisi illum, soluta sint unde eaque quia delectus assumenda, similique sequi!</p>
                    </div>
                    <a href="#" class="card-footer btn bg-primary text-white">Contratar</a>
                </div>
            </div>
            <!-- Precios1 -->

            <!-- Precios2 -->
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="py-3">
                            <span class="h1">$</span><span class="display-1 align-middle">1500</span>
                        </div>
                        <p class="h1">Avanzado</p>
                        <h5 class="card-title py-2"><b>Lorem Ipsum.</b></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nisi illum, soluta sint unde eaque quia delectus assumenda, similique sequi!</p>
                    </div>
                    <a href="#" class="card-footer btn bg-primary text-white">Contratar</a>
                </div>
            </div>
            <!-- Precios2 -->

            <!-- Precios3 -->
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="py-3">
                            <span class="h1">$</span><span class="display-1 align-middle">2000</span>
                        </div>
                        <p class="h1">Profesional</p>
                        <h5 class="card-title py-2"><b>Lorem Ipsum.</b></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nisi illum, soluta sint unde eaque quia delectus assumenda, similique sequi!</p>
                    </div>
                    <a href="#" class="card-footer btn bg-primary text-white">Contratar</a>
                </div>
            </div>
            <!-- Precios3 -->
        </div>
    </div>
</div>