<br id="contacto">
<br>
<br>
<h1 class="display-4 text-main text-center mt-5">Contáctanos</h1>

<div class="container py-4">
    <!-- <div class="text-center" style="max-width: 450px;"> -->
    <!-- <p class="text-center parrafo">
            Puedes ponerte en contacto con nosotros vía WhatsApp o escribiendonos en cualquiera de nuestras 
            redes o métodos de contacto.
        </p>  -->
    <!-- </div> -->

    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-6">
            <img src="./assets/img/undraw_contact_us_15o2.svg" class="card-img-top img-fluid">
        </div>


    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-6">
            <p class="text-center parrafo pt-4">
                Puedes ponerte en contacto con nosotros vía WhatsApp o escribiendonos en cualquiera de nuestras redes o métodos de contacto.
            </p>
        </div>
    </div>


    <div class="text-center py-5">
        <a class="pr-5" href="https://api.whatsapp.com/send?phone=542235216323"><i class="fab fa-whatsapp fa-3x text-success"></i></a>
        <a class="pr-5" href="https://www.instagram.com/lucas_falas/"><i class="fab fa-instagram fa-3x text-main"></i></a>
        <a class="" href="https://www.facebook.com/lucas.falaschini"><i class="fab fa-facebook fa-3x text-primary"></i></a>

    </div>


    <div class="col-md-12 py-3">
        <div class="row justify-content-center">
            <p class="text-main">Correo electrónico: <a href="mailto:lucasfalaschini@gmail.com">lucasfalaschini@gmail.com</a></p>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row justify-content-center">
            <p class="text-main">Puedes llamarnos al número: <a href="tel:+5492235216323">+54 9 2235216323</a></p>
        </div>
    </div>


</div>







<!-- <form action="#" class="row justify-content-center">
            <div class="form-group col-md-3">
                <input type="text" placeholder="Nombre" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <input type="email" placeholder="E-Mail" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <input type="text" placeholder="Teléfono" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <input type="text" placeholder="¿Qué deseas saber?" class="form-control">
            </div>
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <button class="btn btn-primary col-md-2">Enviar</button>
                </div>
            </div>
        </form> -->