.text-vertical-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

#header {
    background: -moz-linear-gradient(324deg, rgba(3,171,255,1) 0%, rgba(255,0,255,0.43) 76%, rgba(255,0,255,0.25) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(3,171,255,1)), color-stop(76%, rgba(255,0,255,0.43)), color-stop(100%, rgba(255,0,255,0.25))); /* safari4+,chrome */
background: -webkit-linear-gradient(324deg, rgba(3,171,255,1) 0%, rgba(255,0,255,0.43) 76%, rgba(255,0,255,0.25) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(324deg, rgba(3,171,255,1) 0%, rgba(255,0,255,0.43) 76%, rgba(255,0,255,0.25) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(324deg, rgba(3,171,255,1) 0%, rgba(255,0,255,0.43) 76%, rgba(255,0,255,0.25) 100%); /* ie10+ */
background: linear-gradient(126deg, rgba(3,171,255,1) 0%, rgba(255,0,255,0.43) 76%, rgba(255,0,255,0.25) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ABFF', endColorstr='#ff00ff',GradientType=1 ); /* ie6-9 */
}

