<div class="container" style="background-color: white;">



    <ng-container *ngIf="isSmall; then small; else large">

    </ng-container>
</div>


<ng-template #small>
    <div class="row" [style.height.px]='height'>

        <div class="col-12 text-vertical-center ">


            <div class="card border-0">

                <img src="./assets/img/img8.png" class="card-img-top img-fluid">

                <div class="card-body">
                    <h2 class="card-title text-center">Elegante y moderno</h2>

                    <p class="card-text">
                        Queremos que esa idea en tu mente se pueda materializar de la forma mas elegante posible y con un estilo moderno que todo el mundo ame.

                    </p>

                </div>
            </div>

        </div>
    </div>


    <div class="row" [style.height.px]='height'>

        <div class="col-12 text-vertical-center animated">

            <div class="card border-0">

                <img src="./assets/img/img6.png" class="card-img-top img-fluid">

                <div class="card-body">
                    <h2 class="card-title text-center">Resultados asegurados</h2>

                    <p class="card-text">
                        Con BxB tendrás la garantía de que podrás tener resultados positivos en todos los proyectos que desees dejar en nuestras manos. Tus ideas son nuestro tesoro, y queremos hacerlo brillar.

                    </p>

                </div>
            </div>

        </div>
    </div>

    <div class="row" [style.height.px]='height'>
        <div class="col-12 text-vertical-center animated">

            <div class="card border-0">

                <img src="./assets/img/img9.png" class="card-img-top img-fluid">

                <div class="card-body">
                    <h2 class="card-title text-center">Diseño adaptable</h2>

                    <p class="card-text">
                        Con nosotros tienes la confianza de que tus ideas puedan ser vistas por cualquier persona en cualquier dispositivo electrónico.

                    </p>

                </div>
            </div>

        </div>
    </div>

</ng-template>


<ng-template #large>
    <div class="row" [style.height.px]='height' id="row1">

        
        
        <div id="col1a"    class="col-md-6 text-vertical-center animated opacity-0">
            
            <span class="text-right">
                <h1>Diseños elegantes y modernos</h1>
                <span inViewport [inViewportOptions]="{ threshold: 0.0001 }" 
                (inViewportAction)="fadeIn($event, 'col1')"></span>
                
                <p class="parrafo">
                    Queremos que esa idea en tu mente se pueda materializar 
                    de la forma mas elegante posible y con un estilo moderno que todo el mundo ame.

                </p>
                
            </span>
        </div>
        <div id="col1b" class="col-md-6 text-vertical-center animated opacity-0 ">

            <img src="./assets/img/img8.png" class="img-fluid">
        </div>
    </div>


    <div class="row" [style.height.px]='height'>


        
        <div id="col2a" class="col-md-6 text-vertical-center animated opacity-0">
            
            <img src="./assets/img/img6.png" class="img-fluid">
        </div>
        <div id="col2b" class="col-md-6 text-vertical-center animated opacity-0">
            
            <span class="align-middle">
                <h1>Resultados asegurados</h1>
                <span inViewport [inViewportOptions]="{ threshold: 0.0001 }" 
                (inViewportAction)="fadeIn($event, 'col2')"></span>        
                              
                <p class="parrafo">
                    Con BxB tendras la garantía de que podras tener resultados positivos en 
                    todos los proyectos que desees dejar en nuestras manos. 
                    Tus ideas son nuestro tesoro, y queremos hacerlo brillar.                
                </p>
            </span>
        </div>
    </div>

    <div class="row" [style.height.px]='height'>

        
        <div id="col3a" class="col-md-6 text-vertical-center animated opacity-0">
            <span class="text-right">
                <h1>Diseño adaptable</h1>
                <span inViewport [inViewportOptions]="{ threshold: 0.0001 }" 
                (inViewportAction)="fadeIn($event, 'col3')"></span>
                
                <p class="mt-2" class="parrafo">
                    Con nosotros tienes la confianza de que tus ideas puedan ser vistas por cualquier persona en cualquier dispositivo electronico.                                                                       
                </p>
            </span>
        </div>
        <div id="col3b" class="col-md-6 text-vertical-center animated opacity-0">
            <img src="./assets/img/img9.png" class="img-fluid">
        </div>
    </div>
</ng-template>