
<h1 id="aboutus" class="display-4 text-main text-center py-5">¿Quiénes somos?</h1>




<div class="container">

    <div class="row justify-content-center" >
        <div class="col-xs-8 col-sm-7 col-md-6 col-lg-3">
            <img src="./assets/img/undraw_feeling_proud_qne1.svg" class="card-img-top">
        </div>

     </div>

    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-6 parrafo">

                <p class="mt-4">
                    <strong>BitxBit</strong> es una nueva empresa formada por un grupo de profesionales de 
                    distintos campos de la informatica y el diseño. 
                    Todos juntos compartimos nuestros conocimientos y experiencia para alcanzar nuestro 
                    sueño en conjunto de poder ayudar a las personas
                    a que sus ideas y sueños puedan hacerse realidad de la mano de nosotros. 
                </p>    
            
                <p class="text-center">
                    ¿Estas buscando una forma segura, eficiente, y moderna, de hacer que tus aspiraciones se 
                    cumplan?
                </p>
    
                <p class="text-center">
                    ¡Dejá que nosotros hagamos esa página web o aplicación móvil que
                    necesitás!
                </p>
           
        </div>
    </div>

</div>


