<h1 class="display-4 text-main text-center py-5">¿Quienes Somos?</h1>




<div id="aboutus" class="container">
    <div class="row py-3">
        <div class="col-md-6 text-vertical-center">
            <p class="text-left" style="color: rgba(58, 54, 109, 0.83)">
                <strong>
                BitxBit es una nueva empresa formada por un grupo de profesionales de distintos campos de la informatica y el diseño. Todos juntos compartimos nuestros conocimientos y experiencia para alcanzar nuestro sueño en conjunto de poder ayudar a las personas
                a que sus ideas y sueños puedan hacerse realidad de la mano de nosotros. ¿Estas buscando una forma segura, eficiente, y moderna, de hacer que tus aspiraciones se cumplan?
                    ¡Deja que nosotros hagamos esa página web o aplicación movil que
                    necesitas!
                </strong>

            </p>
        </div>
        <div class="col-md-6">
            <img src="./assets/img/imgqs.png" class="img-fluid">
        </div>
    </div>
</div>



<!-- <body>
    <div class="container">

        <div class="box">
            <div class="imgBx">
                <img src="./assets/img/lucas.jpg" class="rounded-lg">
            </div>
            <div class="content">
                <h2>Lucas Falaschini</h2>
                <p>Lider de la familia BxB. Joven emprendedor en busqueda de desafios y nuevos retos.</p>
            </div>
        </div>

    </div>
</body> -->